  body {
    font-family: 'Arial';
    line-height: 1.5;
    color: #e9e9e9;
    background: #0a192f;
    margin: 0;
    padding: 0;
}

  h1 {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #64ffda;
}

  h2 {
    padding: 2em;
    max-width: 1200px;
    margin: auto;
}

  footer {
    text-align: center;
    font-style: italic;
    color: #ffffff99;
    padding: 1rem;
    background: #112240;
}

  .navigation-button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 2rem auto;
    padding: 0 1rem;
}
  
  .navigation-button {
    width: 150px;
    height: 80px;
    border: none;
    border-radius: 8px;
    background: #4285f4;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
  }

  .navigation-button:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #64ffda59;
  }

  .menu-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 100%;
    margin: 2rem auto;
    padding: 0 1rem;
  }  

  .menu-button, #clusterButton{
    cursor:pointer;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #4285f4;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 0 10px;
  }

  .menu-button:hover {
    transform: scale(0.9);
    background: #4285f499;
  }
  .cluster-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px auto;
    max-width: 400px;
  }
  #clusterCount {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background: #112240;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
  }
